.details {
  ul {
    margin: 2rem 0;
  }

  li {
    margin-bottom: 0.5rem;
  }

  strong {
    margin-right: 0.5rem;
  }

  img {
    border: 1px solid #999999;
    max-width: 10rem;
  }
}

.detail-link {
  display: inline-block;
  margin-right: 1rem;
}